.git
.gitignore
.DS_Store

node_modules
**/node_modules

dist
**/dist

.turbo
**/.turbo

.cache
**/.cache

.pnpm-store
**/.pnpm-store

.agents
.claude
.claude-*
.husky
**/.husky
.ruler
.vscode
**/.vscode

docker-compose*.yml
Dockerfile
.dockerignore
**/Dockerfile
**/docker-compose*.yml
